In [74]:
import pandas as pd
import numpy as np 
import re

df = pd.read_excel(r"C:\Users\shres\Downloads\FC Mgmt DBA Planet Fit MNS04x11.xlsx")
df = df.astype(str)
df

,Attributes required for Bundle Option build:,Account Implementation input,Unnamed: 2,Unnamed: 3,Required info for Non Standard
0,Group Name/ID,FC Management DBA Planet Fitness / #1531701,nan,nan,Non-Standard Benefit Plan Instructions
1,Type of group required:,False,nan,nan,Complete all Yellow highlighted fields
2,nan,True,nan,nan,Add the Non-standard plan approved Bar request
3,nan,OR,nan,nan,if you do not have the Non Standard BAR request
4,nan,False,nan,nan,Note: If Non-standard ops request include
5,nan,False,nan,nan,nan
6,nan,False,nan,nan,nan
7,nan,AND,Yes,nan,nan
8,nan,False,No,nan,nan
9,nan,nan,nan,nan,nan
10,Effective date of group (renewal date),2021-07-01 00:00:00,2021-07-01 00:00:00,nan,nan
11,State,NH,2021-07-01 00:00:00,nan,nan
12,Size,KA,2021-07-01 00:00:00,nan,nan
13,Network,UHC Freedom,2021-07-01 00:00:00,nan,nan
14,Gatekeeper,No,2021-07-01 00:00:00,nan,nan
15,Master Medical Tracking ID,Granite Advantage EPO OA 7500 100 (CXDS mod 2),2021-07-01 00:00:00,nan,nan
16,Non Standard Plan if applicable:,"PCP $30/$30, SPC $60/$60, OP $500/Ded+100%, IP...",2021-07-01 00:00:00,nan,nan
17,RX Tracking ID,AF01,2021-07-01 00:00:00,nan,nan
18,Tier level copays,$10/$50/$90/$150,2021-07-01 00:00:00,nan,nan
19,RX Deductible,$0,2021-07-01 00:00:00,nan,nan
20,RX PDL if applicable,Advantage,2021-07-01 00:00:00,nan,nan
21,OON Pricing,INN only,2021-07-01 00:00:00,nan,nan
22,Any medical ride if applicable,nan,nan,nan,nan
23,Preventive medical rider,nan,CT,nan,nan
24,Simply engaged buy up if applicable,nan,NJ,nan,nan
25,Care cash buy up if applicable,nan,nan,nan,nan
26,UHC Motion Service Plan buy up if applicable,nan,NY,nan,nan
27,UHC Rewards premium utilisation,nan,NH,nan,nan
28,nan,nan,nan,nan,nan
29,nan,nan,SBE,nan,nan
30,nan,nan,KA,nan,nan
31,nan,nan,nan,nan,nan
32,nan,nan,Freedom,nan,nan
33,nan,nan,Liberty Core,nan,nan
34,nan,nan,Metro,nan,nan
35,nan,nan,Metro Core,nan,nan
36,nan,nan,UHC Freedom,nan,nan

In [75]:
df = df.iloc[:, :2]
df = df.replace('nan', np.nan)
df = df.dropna()
df

,Attributes required for Bundle Option build:,Account Implementation input
0,Group Name/ID,FC Management DBA Planet Fitness / #1531701
1,Type of group required:,False
10,Effective date of group (renewal date),2021-07-01 00:00:00
11,State,NH
12,Size,KA
13,Network,UHC Freedom
14,Gatekeeper,No
15,Master Medical Tracking ID,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
16,Non Standard Plan if applicable:,"PCP $30/$30, SPC $60/$60, OP $500/Ded+100%, IP..."
17,RX Tracking ID,AF01
18,Tier level copays,$10/$50/$90/$150
19,RX Deductible,$0
20,RX PDL if applicable,Advantage
21,OON Pricing,INN only

In [76]:
# Select the first column
first_column = df.iloc[:, 0]

# Filter rows based on cell values starting with specified words
keywords = ['Group', 'Effective', 'State', 'Network', 'Master', 'Non Standard']
mask = first_column.apply(lambda cell: any(cell.startswith(keyword) for keyword in keywords))
df = df[mask]

# Rename rows starting with "Non Standard" to "IIN"
df.loc[df.iloc[:, 0].str.startswith('Non Standard'), df.columns[0]] = 'INN'

df.columns = ['Field', 'Value']

# Now df contains only the rows where the cells in the first column start with specified words
df

,Field,Value
0,Group Name/ID,FC Management DBA Planet Fitness / #1531701
10,Effective date of group (renewal date),2021-07-01 00:00:00
11,State,NH
13,Network,UHC Freedom
15,Master Medical Tracking ID,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
16,INN,"PCP $30/$30, SPC $60/$60, OP $500/Ded+100%, IP..."

In [77]:
import pandas as pd
import re


if any('PCP ' in value for value in df['Value']):
    # Function to split the 'INN' cell into multiple rows based on commas and colons only when 'PCP' is mentioned
    def split_inn_cell(row):
        inn_value = row['Value']
        
        # Check if 'PCP' is mentioned in the cell
        if 'PCP' in inn_value:
            # Split the 'INN' information based on commas and colons
            parts = [part.strip() for part in inn_value.replace(':', ',').split(',')]
            
            # Create a new row for each part
            for part in parts:
                new_row = row.copy()
                new_row['Value'] = part
                yield new_row
        else:
            # If 'PCP' is not mentioned, yield the original row
            yield row

    # Apply the function to each row and concatenate the results into a new DataFrame
    new_rows = []
    for index, row in df.iterrows():
        new_rows.extend(split_inn_cell(row))

    # Create a new DataFrame with the updated rows
    df = pd.DataFrame(new_rows)

    # Reset index
    df.reset_index(drop=True, inplace=True)

    # List of keywords to extract
    keywords = ['PCP', 'SPC', 'UC', 'ER', 'InNet', 'Coins', 'OOP']

    # Extracting the keywords into a separate column
    df['Type'] = df['Value'].str.extract(r'(' + '|'.join(keywords) + ')', expand=False)

    # Fill NaN values in the "Type" column with an empty string
    df['Type'].fillna('', inplace=True)

    for keyword in keywords:
        df['Value'] = df['Value'].str.replace(keyword, '')

    # Reorder columns
    df = df[['Field', 'Type', 'Value']]

    df
else:
    # Function to split the value based on commas and retain 'Oop' in the second split
    def split_and_retain_oop(value):
        # Create a regular expression pattern to match numbers with commas
        pattern = r'\b\d{1,3}(?:,\d{3}){1,2}\b'  # Matches numbers with commas, like 6,000 or 12,000

        # Find all occurrences of numbers with commas in the value
        numbers_with_commas = re.findall(pattern, value)

        # Replace numbers with commas temporarily to avoid splitting
        for number in numbers_with_commas:
            value = value.replace(number, 'temp', 1)

        # Split the string based on commas
        parts = value.split(',')

        # Initialize list to store split parts
        split_parts = []

        # Iterate through each part
        for part in parts:
            # If 'Oop' is present in the part, split on 'Oop' and retain it in the second split
            if 'Oop' in part:
                sub_parts = part.split('Oop')
                # Add the split parts with 'Oop' retained in the second split
                split_parts.extend([sub_parts[0].strip(), 'Oop ' + sub_parts[1].strip()])
            else:
                # Add the part without any changes
                split_parts.append(part.strip())

        # Replace temporary placeholders with numbers with commas
        for i, part in enumerate(split_parts):
            if 'temp' in part:
                split_parts[i] = split_parts[i].replace('temp', numbers_with_commas.pop(0))

        return split_parts

    # Apply the function to split the value
    df['Value'] = df['Value'].apply(split_and_retain_oop)

    # Explode the list into separate rows
    df = df.explode('Value')

    # Reset index
    df.reset_index(drop=True, inplace=True)

    # List of keywords to extract
    keywords = ['PCP/SPC', 'UC', 'ER', 'ded', 'Coins', 'Oop']

    # Extracting the keywords into a separate column
    df['Type'] = df['Value'].str.extract(r'(' + '|'.join(keywords) + ')', expand=False)

    # Fill NaN values in the "Type" column with an empty string
    df['Type'].fillna('', inplace=True)

    for keyword in keywords:
        df['Value'] = df['Value'].str.replace(keyword, '')

    # Reorder columns
    df = df[['Field', 'Type', 'Value']]


    # Function to split the value based on '/'
    def split_value(row):
        if row['Type'] == 'PCP/SPC':
            values = row['Value'].split('/')
            return values
        else:
            return [row['Value']]

    # Apply the function to split the 'Value' column conditionally
    df['Value'] = df.apply(split_value, axis=1)

    # Explode the list of values into separate rows
    df = df.explode('Value')

    # Reset index
    df.reset_index(drop=True, inplace=True)

    # Replace the 'Type' column of the split rows with 'PCP' and 'SPC'
    split_indices = df[df['Type'] == 'PCP/SPC'].index
    df.loc[split_indices[0], 'Type'] = 'PCP'
    df.loc[split_indices[1], 'Type'] = 'SPC'

    # Display the updated DataFrame
    df

In [78]:
df

,Field,Type,Value
0,Group Name/ID,,FC Management DBA Planet Fitness / #1531701
1,Effective date of group (renewal date),,2021-07-01 00:00:00
2,State,,NH
3,Network,,UHC Freedom
4,Master Medical Tracking ID,,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
5,INN,PCP,$30/$30
6,INN,SPC,$60/$60
7,INN,,OP $500/Ded+100%
8,INN,,IP Ded+100%
9,INN,UC,$100
10,INN,ER,$300
11,INN,,MD $250/Ded+100%
12,INN,,X-Ray $125/Ded+100%
13,INN,InNet,Lab $0/Ded+100% Ded//
14,INN,InNet,$5000/$12000 (Emb)
15,INN,Coins,100%
16,INN,OOP,$7000/$14000

In [79]:
import pandas as pd

# Assuming new_df is your DataFrame

# Find the index of the row containing 'Master Medical Tracking ID'
index_master_medical = df.index[df['Field'] == 'Master Medical Tracking ID'][0]

# Filter rows after 'Master Medical Tracking ID'
rows_after_master_medical = df[df.index > index_master_medical]

# Define keywords to filter
keywords = ['OP', 'IP', 'MD', 'X-Ray', 'Lab', 'outpatient']

# Check if all keywords are present in any of the rows after 'Master Medical Tracking ID'
if all(rows_after_master_medical['Value'].str.contains(r'\b(?:' + '|'.join(keywords) + r')\b')):
    # If all keywords are present, remove rows containing any of those keywords
    filtered_df = pd.concat([
        df.iloc[:index_master_medical + 1],  # Include rows up to and including 'Master Medical Tracking ID'
        rows_after_master_medical[~rows_after_master_medical['Value'].str.contains(r'\b(?:' + '|'.join(keywords) + r')\b')]  # Filter rows after 'Master Medical Tracking ID'
    ])
else:
    # If not all keywords are present, remove rows containing only the keywords that are present
    filtered_df = pd.concat([
        df.iloc[:index_master_medical + 1],  # Include rows up to and including 'Master Medical Tracking ID'
        rows_after_master_medical[~rows_after_master_medical['Value'].str.contains(r'\b(?:' + '|'.join(keywords) + r')\b', na=False)]  # Filter rows after 'Master Medical Tracking ID'
    ])

# Reset index
filtered_df.reset_index(drop=True, inplace=True)

# Print the filtered DataFrame
filtered_df

,Field,Type,Value
0,Group Name/ID,,FC Management DBA Planet Fitness / #1531701
1,Effective date of group (renewal date),,2021-07-01 00:00:00
2,State,,NH
3,Network,,UHC Freedom
4,Master Medical Tracking ID,,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
5,INN,PCP,$30/$30
6,INN,SPC,$60/$60
7,INN,UC,$100
8,INN,ER,$300
9,INN,InNet,$5000/$12000 (Emb)
10,INN,Coins,100%
11,INN,OOP,$7000/$14000

In [80]:
# Check if 'InNet' exists in the 'Type' column
if 'InNet' in filtered_df['Type'].values:
    # Rename 'InNet' to 'Deductible'
    filtered_df['Type'] = filtered_df['Type'].replace({'InNet': 'Deductible'})

    # Merge 'Field' and 'Type' columns and keep the merged column named as 'Field'
filtered_df['Field'] = filtered_df['Field'] + ' ' + filtered_df['Type']

    # Drop the 'Type' column
filtered_df.drop(columns=['Type'], inplace=True)

# Display the modified DataFrame
filtered_df

,Field,Value
0,Group Name/ID,FC Management DBA Planet Fitness / #1531701
1,Effective date of group (renewal date),2021-07-01 00:00:00
2,State,NH
3,Network,UHC Freedom
4,Master Medical Tracking ID,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
5,INN PCP,$30/$30
6,INN SPC,$60/$60
7,INN UC,$100
8,INN ER,$300
9,INN Deductible,$5000/$12000 (Emb)
10,INN Coins,100%
11,INN OOP,$7000/$14000

In [81]:
# Create a list to store the indices of the original rows that were split into 'IND' and 'FAM' rows
split_indices = []

# Iterate over each row in the original DataFrame
for index, row in filtered_df.iterrows():
    if index < 5:
        # For the first five rows, remove anything that comes after '/' and the '/' itself for all columns
        for col in filtered_df.columns:
            if '/' in row[col]:
                # Split the value based on '/'
                parts = row[col].split('/')
                # Update the value to only keep the part before '/'
                filtered_df.at[index, col] = parts[0]
    else:
        # Check if the row in the 'Value' column contains '/'
        if '/' in row['Value']:
            # Split the value based on '/'
            parts = row['Value'].split('/')
            # Add 'IND' prefix to the first split part and 'FAM' to the second split part
            new_rows = pd.DataFrame({'Field': ['IND ' + row['Field'], 'FAM ' + row['Field']], 'Value': parts})
            # Store the index of the original row
            split_indices.append(index)
            # Concatenate the new rows to the DataFrame
            filtered_df = pd.concat([filtered_df, new_rows], ignore_index=True)
        else:
            # If no '/', append the row as it is to the DataFrame
            filtered_df = pd.concat([filtered_df, pd.DataFrame([row])])

# Drop the original rows that were split into 'IND' and 'FAM' rows
filtered_df.drop(index=split_indices, inplace=True)

# Reset the DataFrame index
filtered_df.reset_index(drop=True, inplace=True)


filtered_df

,Field,Value
0,Group Name,FC Management DBA Planet Fitness
1,Effective date of group (renewal date),2021-07-01 00:00:00
2,State,NH
3,Network,UHC Freedom
4,Master Medical Tracking ID,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
5,INN UC,$100
6,INN ER,$300
7,INN Coins,100%
8,IND INN PCP,$30
9,FAM INN PCP,$30
10,IND INN SPC,$60
11,FAM INN SPC,$60
12,INN UC,$100
13,INN ER,$300
14,IND INN Deductible,$5000
15,FAM INN Deductible,$12000 (Emb)
16,INN Coins,100%
17,IND INN OOP,$7000
18,FAM INN OOP,$14000

In [82]:
# Remove duplicate rows from the DataFrame
filtered_df.drop_duplicates(inplace=True)

# Reset the DataFrame index
filtered_df.reset_index(drop=True, inplace=True)

# Display the modified DataFrame
filtered_df

,Field,Value
0,Group Name,FC Management DBA Planet Fitness
1,Effective date of group (renewal date),2021-07-01 00:00:00
2,State,NH
3,Network,UHC Freedom
4,Master Medical Tracking ID,Granite Advantage EPO OA 7500 100 (CXDS mod 2)
5,INN UC,$100
6,INN ER,$300
7,INN Coins,100%
8,IND INN PCP,$30
9,FAM INN PCP,$30
10,IND INN SPC,$60
11,FAM INN SPC,$60
12,IND INN Deductible,$5000
13,FAM INN Deductible,$12000 (Emb)
14,IND INN OOP,$7000
15,FAM INN OOP,$14000